<a href="/">Home</a>
<a href="/lists">All Lists</a>

<h2>Add List</h2>
<form action="/lists" method="post">
    <label for="title">Title:</label>
    <input type="text"
           name="title" />
    <input type="submit"
           value="add list" />
</form>
