<h1><%= @list.title %></h1>

<h3>Owner: <%= @list.user.username %></h3>

<h3>To Do:</h3>
<ul>
    <% @list.list_items.each do |item|%>
        <li><%= item.name %> - complete: <%= item.complete %></li>
    <% end %>
</ul>
